name: Serenity BDD QA Pipeline

on:
  pull_request:
    branches:
      - qa       # Ejecutar pruebas cuando abren o actualizan PR hacia QA
  push:
    branches:
      - qa       # (Esto es pcional) volver a ejecutar cuando el PR entra a QA

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Run Serenity Tests
        run: mvn clean verify -DskipTests=false
        timeout-minutes: 10

      - name: Generate Serenity Report
        if: always()
        run: mvn serenity:aggregate

      - name: Upload Serenity Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: serenity-report
          path: target/site/serenity/
